apiVersion: apps/v1
kind: Deployment
metadata:
  name: netshield-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agent
  template:
    metadata:
      labels:
        app: agent
    spec:
      containers:
      - name: agent
        image: netshield-agent
        ports:
        - containerPort: 8081
